/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0} 
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	background-color: #EDF2F4;
	font:16px/1 "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #2B2D42;
}

p {
	line-height:1.6;
  margin-bottom: 10px;
}

strong {
	font-weight: 700;
	color: #333;
}

a {
	text-decoration: none;
	color: #5badf0;
}

header {
	background-color: #2B2D42;
  position: relative;
	padding: 1rem 0;
	color: #EDF2F4;
  top: 0;
}

.glyphicon-heart {
  font-size: 12px;
  color: #EF233C;
}

.title {
	font-size: 32px;
	font-weight: 900;
	color: #EDF2F4;
	text-transform: uppercase;
	display: block;
}

.sub-title {
	font-size: 14px;
	font-weight: 300;
	color: #EDF2F4;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	display: block;
}

.navigation {
	margin-top: 8px;
}

ul.nav-pills > li > a {
	background-color: #2B2D42;
	color: #EDF2F4;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
    margin: auto 3px;
}

ul.nav-pills > li > a:hover {
	background-color: #8D99AE;
}

ul.nav-pills li.active a {
	background-color: #fff;
	-webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  font-weight: 700;
  color: #2B2D42;
}

ul.nav-pills > li.active > a:hover {
	color: #2B2D42;
	background-color: #8D99AE;
}

.logo {
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 15px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -9999px;
}

.logo:hover {
	opacity: 0.5;
}

.logo { 
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

#wrapper {
	margin: 0 auto;
	max-width: 560px;
	padding: 160px 40px;
  line-height: 20px;
}

#wrapper a {
  color:#EF233C;
  -webkit-transition: color .3s;
  -moz-transition: color .3s;
  -o-transition: color .3s;
   transition: color .3s;
}

#wrapper a:hover {
  text-decoration: none;
  color: #2B2D42;
}

.sm-nav {
  margin-top: 0!important;
  padding-top: 0!important;
  background-color: #fff;
  margin-left: -16px;
  margin-right: -16px;
}

.sm-nav .col-xs-4 {
  padding: 0px;
}

.sm-nav a {
	background-color: #2B2D42;
	color: #EDF2F4;
	padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: background-color .3s;
  -moz-transition: background-color .3s;
  -o-transition: background-color .3s;
   transition: background-color .3s;
	display: block;
}

.sm-nav .active a  {
  font-weight: 700;
  color: #2B2D42;
  background-color: #EDF2F4;
}

.sm-nav a:hover {
  background-color:#8D99AE;
	text-decoration: none;
}

#about {
  margin-bottom: 20px;
}

.about-heading {
  font-family: 'Pacifico';
  font-size: 28px;
  line-height: normal;
  display: block;
  margin-bottom: 5px;
}

.title-heading {
  background-color: #DCE6EA;
  margin: auto -15px;
  padding: 30px;
  display: block;
  font-size: 32px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.heading {
  font-weight: 700;
  font-size: 22px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

#skills ul {
  list-style: none;
}

#skills .chart-labels {
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  padding: 0 0 0.5rem;
  margin: 0;
  text-align: center;
}

#skills .chart-labels li {
  width: 33.3333%;
}

#skills .chart-labels li:first-child {
  text-align: left;
}

#skills .chart-labels li:last-child {
  text-align: right;
}

#skills .bar-chart {
  margin: 0 0 2rem;
  padding: 0;
}

#skills .bar-chart .bar {
  display: block;
  background: #d2d3cc;
  margin-bottom: 1rem;
}

#skills .bar-chart .bar .percent {
  display: block;
  padding: 0.75rem 1rem;
  background: #444349;
  color: #fff;
  font-weight: 600;
}

#skills .bar-chart .bar .percent.ten {
  width: 10%;
}

#skills .bar-chart .bar .percent.twenty {
  width: 20%;
}

#skills .bar-chart .bar .percent.twenty-five {
  width: 25%;
}

#skills .bar-chart .bar .percent.thirty {
  width: 30%;
}

#skills .bar-chart .bar .percent.thirty-five {
  width: 35%;
}

#skills .bar-chart .bar .percent.forty {
  width: 40%;
}

#skills .bar-chart .bar .percent.forty-five {
  width: 45%;
}

#skills .bar-chart .bar .percent.fifty {
  width: 50%;
}

#skills .bar-chart .bar .percent.fifty-five {
  width: 55%;
}

#skills .bar-chart .bar .percent.sixty {
  width: 60%;
}

#skills .bar-chart .bar .percent.sixty-five {
  width: 65%;
}

#skills .bar-chart .bar .percent.seventy {
  width: 70%;
}

#skills .bar-chart .bar .percent.seventy-five {
  width: 75%;
}

#skills .bar-chart .bar .percent.eighty {
  width: 80%;
}

#skills .bar-chart .bar .percent.eighty-five {
  width: 85%;
}

#skills .bar-chart .bar .percent.ninety {
  width: 90%;
}

#skills .bar-chart .bar .percent.ninety-five {
  width: 95%;
}

#skills .bar-chart .bar#bar-html .percent {
  background: #f14a29;
}

#skills .bar-chart .bar#bar-css .percent {
  background: #1572b6;
}

#skills .bar-chart .bar#bar-js .percent {
  background: #389abd;
}

#skills .bar-chart .bar#bar-php .percent {
  background: #8892BF;
}

#skills .bar-chart .bar#bar-git .percent {
  background: #f34f29;
}

#skills .bar-chart .bar#bar-ps .percent {
  background: #2c3674;
}

#skills .bar-chart .bar#bar-il .percent {
  background: #ff7734;
}

#skills .bar-chart .bar#bar-fl .percent {
  background: #d12a27;
}

#skills .bar-chart .bar#bar-sk .percent {
  background: #FCB70A;
}

#skills .bar-chart .bar#bar-maya .percent {
  background: #097373;
}

#skills .bar-chart .bar#bar-zbrush .percent {
  background: #ff6500;
}

#skills .bar-chart .bar#bar-udk .percent {
  background: #2984dd;
}

#skills .bar-chart .bar#bar-quixel .percent {
  background: #bc6df1;
}

.control-label {
  margin-bottom: 10px;
  font-weight: 700;
}
@media (max-width: 768px) {
  header {
    padding-bottom: 0;
  }

  .navigation {
    margin-top: 0px;
  }
  .title, .sub-title {
    text-align: center;
  }

  .title {
    margin-top: 10px;
    font-size: 26px;
    margin-bottom: 2px;
  }

  .sub-title {
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }

  .logo {
    margin-top:-4px;
  	margin-left: 5px;
  	margin-right: 0px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .logo {
    background-image: url(../images/logo@2x.png);
    background-size: 50px 50px;
  }
}

/* Header */
.large-header {
  position: relative;
  width: 100%;
  height: 250px;
  background: #8D99AE;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  opacity: 0;
  animation-name: about-banner;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.demo-1 .large-header {
  background-image: url('../img/demo-1-bg.jpg');
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

section#content {
  opacity: 0;
  animation-name: about-content;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@media only screen and (max-width : 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}

@-webkit-keyframes about-banner {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

@-webkit-keyframes about-content {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/* Standard syntax */
@keyframes about-banner {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/* Standard syntax */
@keyframes about-content {
    0%   {opacity: 0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}